---
---

@import "reset";
@import "fonts";
@import "config";
@import "syntax";


/* ----------------------------------------------------------------------
 * -- Standard HTML elements
 * ---------------------------------------------------------------------- */

body {
    color: $color-black;
    background: $color-white;
    font-family: 'Inconsolata', monospace;
}

h1 {
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    line-height: 150%;
}

hr {
    border: 0;
    height: 2px;
    background: #aaa;
    margin-bottom: 1em;
}

a {
    color: $color-link;
    text-decoration: none;

    &:visited {
        color: $color-link;
        text-decoration: none;
    }

    &:hover {
        color: $color-link-hover;
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom: 2px solid $color-link-hover;
    }

    &:active {
        color: $color-link;
        text-decoration: none;
    }
}

ol, ul {
    line-height: 150%;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    li {
        padding-left: 10px;
        list-style-type: square;
        list-style-position: outside;
        list-style-image: none;
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }

    &.posts-list li {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0.25em;
    }
}

ol {
    padding-left: 3em;
    li {
        padding: 5px;
        padding-left: 10px;
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }
}

dl {
    dt {
        margin-bottom: 0.5em;
    }

    dd {
        margin-bottom: 1em;
    }
}

dl.project-list {
    dd {
        margin-bottom: 2em;
    }
}

img.bordered {
    padding: 1px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.project--content img.centered,
img.centered {
    margin: 2em auto;
    display: block;
}

table {
    line-height: 150%;
    margin-bottom: 1em;
}

sup {
    vertical-align: super;
    font-size: small;
    font-weight: bold;
}

sup a {
    border: 0 !important;
}

blockquote {
    position: relative;
    padding: 0.5em 1em;
    background: #fafafa;
    border-left: 4px solid #555;
    margin: 0 0 1em;
}


/* ----------------------------------------------------------------------
 * -- Site Layout
 * ---------------------------------------------------------------------- */

.site-wrapper {
    max-width: 40em;
    margin: auto;
    padding: 4em 2em;
    @media screen and (max-width: $br) {
        padding: 1.5em 1em;
    }
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px;

    @media screen and (max-width: $br) {
        display: block;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }

    .site-navigation {
        li:after {
            content: ' | ';
            color: #aaa;
            font-size: 0.8em;
        }

        li:last-child:after {
            display: none;
        }
    }

    ul {
        margin-top: 10px;
        li {
            display: inline;
            padding: 0;
            padding-left: 5px;
        }
    }

}

.content-container {
    padding-bottom: 30px;

    h2 {
        font-size: 1.4em;
        margin-bottom: 1em;
    }

    & > section {
        margin-bottom: 2em;

        p {
            margin-bottom: 1em;
        }
    }

}

.site-footer {
    border-top: 2px solid #ddd;
    padding-top: 1em;

    p {
        text-align: right;
    }
}

.loading-indicator {
    position: fixed;
    right: 8px;
    top: 8px;
    display: none;
    width: 32px;
    height: 6px;
    animation-name: flicker;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
    animation-timing-function: steps(1);
   -webkit-transform: skew( 320deg ); 
   -moz-transform: skew( 320deg ); 
   -o-transform: skew( 320deg );
   transform: skew( 320deg );
   background: #f7a831;
   background: -moz-radial-gradient(center, ellipse cover,  #f7a831 0%, #cc5e10 100%);
   background: -webkit-radial-gradient(center, ellipse cover,  #f7a831 0%,#cc5e10 100%);
   background: radial-gradient(ellipse at center,  #f7a831 0%,#cc5e10 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a831', endColorstr='#cc5e10',GradientType=1 );
}

@keyframes flicker {
	from { opacity: 1; }
	8%   { opacity: 0.5; }
	16%  { opacity: 1; }
	38%  { opacity: 0.5; }
	70%  { opacity: 1; }
	to   { opacity: 1; }
}


/* ----------------------------------------------------------------------
 * -- Blog Post / Note
 * ---------------------------------------------------------------------- */

.post {

    padding-bottom: 30px;
    position: relative;
    padding-top: 1em;

    &--back {
        position: absolute;
        top: 0;
    }

    .post-header {
        display: block;
        margin-top: 20px;
        margin-bottom: 6px;

        h1 {
            display: inline-block;
            font-size: 1.6em;
            font-weight: 700;
            padding-right: 0.5em;
            padding-bottom: 2px;
            text-decoration: none;
            border-bottom: 3px solid $color-black;
        }

        .post-date {
            font-size: 1em;
            font-style: italic;
        }
    }

    &-content {
        padding-top: 2.5em;

        h2 {
            font-size: 1.4em;
            font-weight: 700;
            margin-top: 2em;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 1.1em;
            font-weight: 700;
            margin-top: 1.5em;
            margin-bottom: 5px;
        }

        p {
            font-size: 1em;
            line-height: 150%;
            margin-bottom: 15px;
        }

        a {
            padding-bottom: 1px;
            border-bottom: 1px solid $color-link;
            &:hover {
                background-color: $color-grey;
                text-decoration: none;
            }
        }

        strong {
            font-weight: 700;
        }

        em {
            font-style: italic;
        }

        ul {
            font-size: 1em;
            margin-left: 30px;
            margin-top: -10px;
            margin-bottom: 15px;
            li {
                padding-left: 5px;
                @media screen and (max-width: $br) {
                    padding: 10px 0 10px 0;
                }
            }
            @media screen and (max-width: $br) {
                margin-left: 10px;
            }
        }

        img {
            margin-top: 10px;
            margin-bottom: 10px;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }

    }
}

.project {

    img {
        max-width: 100%;
    }

    padding-bottom: 30px;

    &--back {
        a {

        }
    }

    &--header {
        display: block;
        margin-bottom: 1em;

        h2 {
            display: inline-block;
            font-size: 1.6em;
            font-weight: 700;
            padding-right: 10px;
            padding-bottom: 2px;
            text-decoration: none;
            border-bottom: 3px solid $color-black;
            margin-bottom: 0.5em;
        }

        p {
            margin: 0.25em 0;
        }

    }

    &--date {
        p {
            font-size: 1em;
            font-style: italic;
        }
    }

    &--content {
        padding-top: 1em;
        h1 {
            font-size: 1.4em;
            font-weight: 700;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 1.1em;
            font-weight: 700;
            margin-top: 25px;
            margin-bottom: 5px;
        }

        h3 {
            font-size: 1em;
            font-weight: 700;
            margin-top: 25px;
            margin-bottom: 5px;
        }
        
        p {
            font-size: 1em;
            line-height: 150%;
            margin-bottom: 15px;
        }
        a {
            padding-bottom: 1px;
            border-bottom: 1px solid $color-link;
            &:hover {
                background-color: $color-grey;
                text-decoration: none;
            }
        }
        strong {
            font-weight: 700;
        }
        em {
            font-style: italic;
        }
        ul {
            font-size: 1em;
            margin-left: 30px;
            margin-top: -10px;
            margin-bottom: 15px;
            li {
                padding-left: 5px;
                @media screen and (max-width: $br) {
                    padding: 10px 0 10px 0;
                }
            }
            @media screen and (max-width: $br) {
                margin-left: 10px;
            }
        }
        img {
            margin-top: 10px;
            margin-bottom: 10px;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }
    }
}


/* ----------------------------------------------------------------------
 * -- Code Blocks
 * ---------------------------------------------------------------------- */

code {
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    font-size: 0.9em;
    background: $code-background;
    color: $code-color;
}

.highlight {
    margin: 1em 0 1.5em;
    padding: 1em;
    line-height: 1.5;
    background: #fafafa;
    border: 2px solid #ccc;
    code {
        color: #333;
        background: none;
    }
}

.highlighter-rouge code {
    display: block;
    padding: 0;
}

.highlighter-rouge pre {
    overflow-x: auto;
}

.codebreak {
    margin: 15px;
    border: 0;
    border-bottom: 1px dashed $color-black;
}

code.code--keycode {
    box-shadow: 0 2px 0 0 #aaa;
    border: 1px solid #ccc;
    padding: 0.2em 0.5em;
}

.has-cl-prompt code > .nv:first-child {
    color: blueviolet;
    font-weight: bold;
}

code.code--cl-error {
    color: #c00;
}


/* ----------------------------------------------------------------------
 * -- Nicer tables
 * ---------------------------------------------------------------------- */

.table--fancy {
    width: 100%;
    border: 2px solid #ccc;

    th, td {
        padding: 0.1em 0.5em;
    }

    thead {
        th {
            background: #eee;
            border-bottom: 2px solid #ccc;
            border-right: 1px solid #ccc;
            font-weight: bold;
        }
    }

    tbody th,
    tbody td {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

}

.table--striped {
    tbody tr:nth-child(even) th,
    tbody tr:nth-child(even) td {
        background: #fafafa;
    }
}

.table--function-map {
    thead th { text-align: left }
}


/* ----------------------------------------------------------------------
 * -- Footnotes
 * ---------------------------------------------------------------------- */

.footnotes {
    border-top: 2px solid #ddd;
    padding-top: 1em;
    margin-top: 1em;
}


/* ----------------------------------------------------------------------
 * -- Browser mockups
 * ---------------------------------------------------------------------- */

.browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0 0 0px 2px #ccc;
    margin: 0 2px 1em;
    position: relative;
    border-radius: 2px 2px 0 0;

    .browser-mockup-url {
        position: absolute;
        left: 5.5em;
        top: -1.6em;
        z-index: 2;
        line-height: 1.2em;
        padding-left: 0.2em;

        span {
            font-size: 80%;
        }
    }

    // Add controls
    &:before {
        display: block;
        position: absolute;
        content: '';
        top: -1.25em;
        left: 1em;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background-color: #f44;
        box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #fb5, 3em 0 0 2px #9b3;
    }

    // Add a tab
    &.has-tab:after {
        display: block;
        position: absolute;
        content: '';
        top: -2em;
        left: 5.5em;
        width: 20%;
        height: 0em;
        border-bottom: 2em solid white;
        border-left: 0.8em solid transparent;
        border-right: 0.8em solid transparent;
    }

    // Add a URL control
    &.has-url:after {
        display: block;
        position: absolute;
        content: '';
        top: -1.6em;
        left: 5.5em;
        width: calc(100% - 6em);
        height: 1.2em;
        border-radius: 2px;
        background-color: white;
    }

    // Inside the browser
    .browser-mockup-inner {
        display: block;
        border-top: 2px solid #ccc;
        text-align: center;

        img {
            margin: 0;
        }
    }

}

.aside {
    position: relative;
    padding: 0.1em 2em 0.5em;
    box-shadow: 4px 4px 0 0 #eee;
    border: 2px solid #aaa;
    background: #fafafa;

    h3 {
        margin-bottom: 1em;
        padding-bottom: 0.25em;
        border-bottom: 2px solid #aaa;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        display: block;
        height: 8px;
        background: #eee;
    }

    &.aside--info {
        border-color: lighten( #2b83ca, 10% );
        background: lighten( #2b83ca, 50% );

        h3 {
            border-color: lighten( #2b83ca, 10% );
        }

        &:before {
            background: lighten( #2b83ca, 25% );
        }
    }
}