<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss2.xml">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.url }}/atom.xml">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>

  <div class="site-wrapper">
    {{ content }}
  </div>

  <span id="loading-indicator" class="loading-indicator"></span>
  
  <script src="/assets/js/page-accelerator.min.js"></script>
  <script>
   pageAccelerator( function() {
       document.getElementById( "loading-indicator" ).style.display = 'none';
   } );
  </script>

</body>

</html>
