---
layout: default
---

<div class="project">

  <header class="project--header">
    <h2>{{ page.title }}</h2>
    {% if page.github or page.homepage %}
      <p class="project--meta">
        {% if page.homepage %}
        <a href="{{ page.homepage }}" target="_blank" class="button button--homepage">
          View project homepage
        </a>
        {% endif %}

        {% if page.github %}
          <a href="https://github.com/{{ page.github }}/" target="_blank" class="button button--github">
            View project on github
          </a>
        {% endif %}
      </p>
    {% endif %}
  </header>

  <div class="project--content">
    {{ content }}
  </div>

</div>
