---
layout: default
---

<div class="project">
  
  <header class="project--header">
    <h2>{{ page.title }}</h2>
    {% if page.github %}
      <p class="project--meta">
        <a href="https://github.com/{{ page.github }}/" target="_blank" class="button button--github">
          View project on github
        </a>
      </p>
    {% endif %}

    {% if page.homepage %}
      <p class="project--meta">
        <a href="{{ page.homepage }}" target="_blank" class="button button--github">
          View project homepage
        </a>
      </p>
    {% endif %}
  </header>

  <div class="project--content">
    {{ content }}
  </div>

</div>
