<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss2.xml" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.url }}/atom.xml" />

  {% if page.title %}
    <title>{{ page.title }}</title>
  {% else %}
    <title>{{ site.name }}</title>
  {% endif %}

  <meta name="description" content="{{ site.description }}">

  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>

  <div class="site-wrapper">

    <header class="site-header">
      <h1>{{ site.name }}</h1>
      <nav class="site-navigation">
        <ul>
          {% for item in site.data.navigation %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
      </nav>
    </header>

    {{ content }}

  </div>

</body>

</html>
