---
layout: default
---

<header class="site-header">
  <h1>{{ site.name }}</h1>
  <ul>
    {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</header>

<div class="project">
  
  <header class="project--header">
    <h2>{{ page.title }}</h2>

    {% if page.github %}
      <p class="project--meta">
        <a href="https://github.com/{{ page.github }}/" target="_blank">
          View project on github
        </a>
      </p>
    {% endif %}
  </header>

  <div class="project--content">
    {{ content }}
  </div>

</div>
